<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/resources/app.properties</value>
            </list>
        </property>
        <property name="placeholderPrefix"><value>s[</value></property>
        <property name="placeholderSuffix"><value>]</value></property>
    </bean>

<!--
    <bean id="buildInfo" class="gov.nih.nci.cabig.ctms.tools.BuildInfo">
        <property name="applicationName"><value>caBIG Clinical Trials Suite</value></property>
        <property name="versionNumber"><value>@project.version@</value></property>
        &lt;!&ndash;<property name="timestamp"><value>@buildNumber@</value></property>&ndash;&gt;
    </bean>
-->

</beans>